<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
    <script>
        form
        {
            Text:center
        }




    </script>
</head>
<body>
    <center>
        <h1>Forms html</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="na">Name</label>
            <input type="text" id="na" name="na">
            <br><br>
            <label for="ps">password</label>
            <input type="password" id="ps" name="ps">
            <br><br>
            <label for="ma">mail</label>
            <input type="email" id="ma" name="ma">
            <br><br>
            <label for="no">Phno</label>
            <input type="number" id="no" name="no">
            <br><br>
            <button>submi</button>












        </form>













    </center>
    
</body>
</html>